.table-wrapper {
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.table {
  max-height: 100%;
  overflow-y: auto;
}

.table-body {
  display: flex;
  width: auto;
}

.table-left,
.table-center {
  flex-shrink: 0;
  height: 100%;
}

.table-center {
  width: 100%;
}

.table-center-body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
}

.table-center-body::-webkit-scrollbar {
  height: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.table-left-body {
  position: relative;
}

.table-center-body-inner {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.row {
  position: absolute;
}

.table-center .row {
  flex-shrink: 0;
  border-bottom: 1px solid;
  display: flex;
}

.cell {
  flex-shrink: 0;
}

.cell:not(:last-child) {
  border-right: 1px solid;
}

.table-left .row {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.row {
  display: flex;
}

.table-scroll {
  border-top: 1px solid;
  display: flex;
}

img {
  height: 30px;
}

.table-scroll,
.table-scroll-center > div {
  height: 12px;
}

.table-scroll-center {
  overflow-x: scroll;
}

.table-scroll-center::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.18);
  cursor: move;
  border: none;
}
