.craft-smart-grid {
  .loader-wrapper {
    overflow: hidden;
  }

  .loader-row {
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid #efefef;
    }
  }

  .loader-column {
    padding: 4px 8px;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .shimmer {
    height: 100%;
    border-radius: 4px;
    max-height: 20px;
    background: #f6f7f8;
    background-image: linear-gradient(
      to right,
      #eeeeee 8%,
      #dddddd 18%,
      #eeeeee 33%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
