.cell-wrapper {
  padding: 8px 12px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 8px;
}

.mdx-container {
  pre {
    padding: 8px 12px;
    overflow: unset !important;
    background: #f6f8fa;
    code {
      background: none;
      border: none;
    }
  }
}

form.example-form {
  label,
  input {
    margin-bottom: 0;
  }
  input {
    width: 60px !important;
    height: 32px;
  }
  .rs-form-control-wrapper,
  .rs-btn-toggle {
    margin-right: 16px;
  }
  .rs-flex-box-grid {
    margin-bottom: 16px;
  }
}

.rs-checkbox-checker {
  padding: 0;
  top: -6px;
  left: -4px;
}
